/* import font family Azeret Mono*/

@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');

/* universal-tag */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Azeret Mono', monospace;
}

/* header part start here..... */

#banner{
    top: 131px;
    width: 1440px;
    height: 652px;
    margin: 0 auto;
    background-image: url(../assets/Hero-bg.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border: 5px dashed rgb(189, 175, 175);
    border-radius: 7px;
    margin-bottom: 74px;
}

.parent-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.img-section{
  width: 240.28px;
  height: 240px;
  padding-top: 40px;
}
.title-section{  
  width: 69%;  
  margin: 0 auto;
}

.title-section h2{
padding-top: 69px;
color: rgb(13, 19, 33);
font-size: 48px;
font-weight: 800;
line-height: 60px;
letter-spacing: 0%;
text-align: center;
}

.title-section p{
 padding-top: 17px;   
color: rgb(91, 93, 99);
font-size: 20px;
font-weight: 500;
line-height: 26px;
letter-spacing: 0%;
text-align: center;
}

.parent-section .banner-btn{
   font-size: 25px;
   color:rgb(255, 255, 255);
   border-radius: 8px;
   background: rgb(13, 19, 33);
   margin-top: 20px;
   padding: 21px 24px 21px 24px;
   cursor: pointer;
   transition: 0.9s;
}

.parent-section .banner-btn:hover{
   background: rgb(255, 255, 255);
   color: rgb(13, 19, 33);
   border: 1px solid rgb(13, 19, 33);
}

/* header-part end here....... */






/* web-development-part start here */

#web-development{
    width: 1140px;
    height: 1393px;
    padding: 80px 97px 80px 97px;
    margin: 0 auto;
    background-color: rgb(254, 255, 252);
}

/* title-descripiton part start here */

.title-section-2 { 
   height: 113px;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
}

.title-section-2 h3{
   color: rgb(13, 19, 33);
   font-size: 32px;
   font-weight: 800;
   line-height: 37px;
   letter-spacing: 0%;
   text-align: center;
}

.title-section-2 p{
 color: rgb(13, 19, 33);
 padding-top: 20px;  
 font-size: 14px;
 font-weight: 400;
 line-height: 26px;
 text-align: center;
}
/* title-descripiton part end  here */


#parent-section{
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-radius: 9px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 4px;
    padding: 48px 48px 48px 48px;
    margin-top: 70px;
}

.img-section{
   border-radius: 16px;
   background: linear-gradient(90.00deg, rgb(255, 255, 255),rgba(255, 255, 255, 0) 100%);
 
}

/* child of img-section */

.tite-section-3{
    width: 477px;
    height: 220px;
    display: flex;
    flex-direction: column; 
    justify-content: left;
}
.tite-section-3 h2{
    color: rgba(13, 19, 33, 0.7);
    font-size: 26px;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 0%;
    text-align: left;
}

.tite-section-3 p{
    color: rgb(13, 19, 33);
    font-size: 16px; 
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: left;
    opacity: 0.7;
}

/* shared-styles */
.tite-section-3 .btn{
     box-sizing: border-box;
     border: 1px solid rgb(13, 19, 33);
     opacity: 1;
     margin-top: 20px;
     border-radius: 5px;
     cursor: pointer;
     width: 150px;
     height: 48px;
     margin-right: 45px;
     padding: 12px 20px 12px 20px;
     color: rgb(13, 19, 33);
     font-size: 15px;
     font-weight: 600;

}

/* middle-section-of why-web-development-part */

#parent-section-2{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-radius: 9px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 4px;
    margin-top: 60px;
    height: 339px;
    padding: 48px 48px 48px 48px;
}


#parent-section-3{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-radius: 9px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 4px;
    height: 339px;
    padding: 48px 48px 48px 48px;
    margin-top: 50px;
}


   /* My inspiration-part*/


   .inspiration-part{
      width: 1140px;
      height: 777px;
      margin: 0 auto;
      box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
      margin-top: 50px;
      margin-bottom: 90px;
   }

   .titlee{
    margin: 0 auto;
    margin-top: 30px;
    width: 852px;
   }

   .video-part{
    width: 1076px;
    height: 550px;
    border-radius: 16px;
    margin: 0 auto; 
    margin-top: 50px;

  }


   /* current-target-section  start here*/
  
   
.current-target-section{
    width: 1200px;
    height: 460px;
     display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    gap: 40px;
    margin-bottom: 100px;
 
}


.card{
    width: 90%;
    height: 299px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 24px;
    width: 1200px;
}


.parent-card{
    border-radius: 16px;
    background: rgba(255, 76, 30, 0.05);
      
}

.card .html-card{
 width: 364px;
 height: 287px;
 border-radius: 16px;
 padding: 40px 40px 40px 40px;
}

.card .css-card{
 width: 364px;
 height: 287px;
 border-radius: 16px;
 background: rgba(0, 76, 232, 0.05);
  padding: 40px 40px 40px 40px;
}
.card .js-card{
 width: 364px;
 height: 287px;
 border-radius: 16px;
 background: rgba(255, 223, 0, 0.05);
 padding: 40px 40px 40px 40px;
}

.html-card h3{
padding-top: 15px;   
color: rgb(13, 19, 33);
font-size: 24px;
font-weight: 800;
letter-spacing: 0%;
text-align: left;
}

.html-card p{
padding-top: 15px;   
color: rgb(13, 19, 33);
font-size: 16px;
font-weight: 400;
line-height: 26px;
letter-spacing: 0%;
text-align: left;
opacity: 0.7;
}

.html-card a{
color: rgb(13, 19, 33);
font-size: 17px;
font-weight: 700;
letter-spacing: 0%;
text-align: left;
text-decoration-line: underline;
}

.css-card h3{
 padding-top: 15px;   
color: rgb(13, 19, 33);
font-size: 24px;
font-weight: 800;
letter-spacing: 0%;
text-align: left;
}
.css-card p{
padding-top: 15px;   
color: rgb(13, 19, 33);
font-size: 16px;
font-weight: 400;
line-height: 26px;
letter-spacing: 0%;
text-align: left;
opacity: 0.7;
}


.css-card a{
color: rgb(13, 19, 33);
font-size: 17px;
font-weight: 700;
letter-spacing: 0%;
text-align: left;
text-decoration-line: underline;
}




.js-card h3{
padding-top: 15px;   
color: rgb(13, 19, 33);
font-size: 24px;
font-weight: 800;
letter-spacing: 0%;
text-align: left;
}

.js-card p{
padding-top: 15px;   
color: rgb(13, 19, 33);
font-size: 16px;
font-weight: 400;
line-height: 26px;
letter-spacing: 0%;
text-align: left;
opacity: 0.7;
}

.js-card a{
color: rgb(13, 19, 33);
font-size: 17px;
font-weight: 700;
letter-spacing: 0%;
text-align: left;
text-decoration-line: underline;
}

/* current-target-section  end here */




  /* support-section-start here */

 .support-section{
      margin: 0 auto;
      width: 1140px;
      height: 313px;
      margin-bottom: 100px;
      background-image: url(../assets/handshake.jpg);
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      display: flex;
      flex-direction: column;
 } 


 .support-section-title{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 730px;
    height: 104px;
    margin: 0 auto;
    margin-bottom: 10px;
 }

 .support-section-title h1{
  color: rgb(255, 255, 255);
  font-family: Azeret Mono; 
  font-size: 32px;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: 0%;
  text-align: center;
 }

 .support-section-title p{
  color: rgb(255, 255, 255);
  font-family: Azeret Mono;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  text-align: center;
  opacity: 0.7;
 }  

 .support-submit-area{
    padding-top: 20px;
    justify-content: center;
    display: flex;
    align-items: center;
 }
 .support-submit-area input{
    height: 100%;
    width: 548px;
    border: none;
    border-radius: 8px;
    background: rgb(255, 255, 255);
    padding: 19px 20px 19px 20px;
 }

 .support-submit-area .submit-btn{
  border-radius: 8px;
  background: rgb(255, 255, 255);
  font-size: 15px;
  width: 120px;
  height: 57px;
  padding: 17px 20px 17px 20px;
}